@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #19dfef !important;
}
.bg-success {
  background-color: #faaa65 !important;
}
.bg-info {
  background-color: #e57f60 !important;
}
.bg-warning {
  background-color: #a95262 !important;
}
.bg-danger {
  background-color: #ff4d4d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #19dfef !important;
  border-color: #19dfef !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0ca3af !important;
  border-color: #0ca3af !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0ca3af !important;
  border-color: #0ca3af !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fccc7b !important;
  border-color: #fccc7b !important;
  color: #754b03 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #754b03 !important;
  background-color: #faaf30 !important;
  border-color: #faaf30 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #754b03 !important;
  background-color: #faaf30 !important;
  border-color: #faaf30 !important;
}
.btn-info,
.btn-info:active {
  background-color: #e57f60 !important;
  border-color: #e57f60 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #d64d23 !important;
  border-color: #d64d23 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d64d23 !important;
  border-color: #d64d23 !important;
}
.btn-success,
.btn-success:active {
  background-color: #faaa65 !important;
  border-color: #faaa65 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #f8811b !important;
  border-color: #f8811b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #f8811b !important;
  border-color: #f8811b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a95262 !important;
  border-color: #a95262 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #753944 !important;
  border-color: #753944 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #753944 !important;
  border-color: #753944 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4d4d !important;
  border-color: #ff4d4d !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b8d97;
  color: #0b8d97;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #19dfef;
  border-color: #19dfef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #19dfef !important;
  border-color: #19dfef !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #faa517;
  color: #faa517;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #754b03;
  background-color: #fccc7b;
  border-color: #fccc7b;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #754b03 !important;
  background-color: #fccc7b !important;
  border-color: #fccc7b !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #c0451f;
  color: #c0451f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #e57f60;
  border-color: #e57f60;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e57f60 !important;
  border-color: #e57f60 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #f17408;
  color: #f17408;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #faaa65;
  border-color: #faaa65;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #faaa65 !important;
  border-color: #faaa65 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #64313a;
  color: #64313a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #a95262;
  border-color: #a95262;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a95262 !important;
  border-color: #a95262 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e60000;
  color: #e60000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ff4d4d;
  border-color: #ff4d4d;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4d4d !important;
  border-color: #ff4d4d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #19dfef !important;
}
.text-secondary {
  color: #fccc7b !important;
}
.text-success {
  color: #faaa65 !important;
}
.text-info {
  color: #e57f60 !important;
}
.text-warning {
  color: #a95262 !important;
}
.text-danger {
  color: #ff4d4d !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b8d97 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #faa517 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #f17408 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c0451f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #64313a !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e60000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e57f60;
}
.alert-warning {
  background-color: #a95262;
}
.alert-danger {
  background-color: #ff4d4d;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #19dfef;
  border-color: #19dfef;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #19dfef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d8fafc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d4a6af;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #19dfef;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #19dfef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #19dfef;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #19dfef;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #19dfef;
  border-bottom-color: #19dfef;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #19dfef !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fccc7b !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2319dfef' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-sbQYtIpxEw {
  background-image: url("../../../assets/images/intro-background-2000x1055.jpg");
}
.cid-sbQZHF64BB {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQZHF64BB .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQZHF64BB .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQZHF64BB .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQZHF64BB H2 {
  text-align: center;
}
.cid-sbQZHF64BB H3 {
  text-align: center;
}
.cid-sbUQ27VgPI {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbUQ27VgPI .mbr-text {
  color: #767676;
}
.cid-sbUQ27VgPI h4 {
  text-align: center;
}
.cid-sbUQ27VgPI p {
  text-align: center;
}
.cid-sbUQ27VgPI .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-sbURZgItul {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sbURZgItul .mbr-text {
  color: #767676;
}
.cid-sbURZgItul h4 {
  text-align: center;
}
.cid-sbURZgItul p {
  text-align: center;
}
.cid-sbURZgItul .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-sbQU1xOEAd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/not-too-late-jesse-eisenberg.jpg");
}
.cid-sbQUaX3TKO {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQUaX3TKO .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQUaX3TKO .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQUaX3TKO .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQUaX3TKO H2 {
  text-align: center;
}
.cid-sbQUaX3TKO H3 {
  text-align: center;
}
.cid-sbQxTT1z4X {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbQxTT1z4X .mbr-section-subtitle,
.cid-sbQxTT1z4X .mbr-text {
  color: #767676;
}
.cid-sbQxTT1z4X .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbQxTT1z4X .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbQxTT1z4X .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbQxTT1z4X .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbQxTT1z4X .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbQxTT1z4X .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbQxTT1z4X .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbQxTT1z4X .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbQxTT1z4X .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbQxTT1z4X .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbQxTT1z4X .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbQxTT1z4X .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbQxTT1z4X .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbQxTT1z4X .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbQANzbZ7v {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbQANzbZ7v .mbr-section-subtitle,
.cid-sbQANzbZ7v .mbr-text {
  color: #767676;
}
.cid-sbQANzbZ7v .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbQANzbZ7v .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbQANzbZ7v .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbQANzbZ7v .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbQANzbZ7v .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbQANzbZ7v .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbQANzbZ7v .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbQANzbZ7v .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbQANzbZ7v .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbQANzbZ7v .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbQANzbZ7v .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbQANzbZ7v .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbQANzbZ7v .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbQANzbZ7v .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbQC9CetwA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbQC9CetwA .mbr-section-subtitle,
.cid-sbQC9CetwA .mbr-text {
  color: #767676;
}
.cid-sbQC9CetwA .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbQC9CetwA .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbQC9CetwA .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbQC9CetwA .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbQC9CetwA .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbQC9CetwA .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbQC9CetwA .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbQC9CetwA .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbQC9CetwA .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbQC9CetwA .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbQC9CetwA .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbQC9CetwA .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbQC9CetwA .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbQC9CetwA .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbZLszX77F {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbZLszX77F .mbr-section-subtitle,
.cid-sbZLszX77F .mbr-text {
  color: #767676;
}
.cid-sbZLszX77F .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbZLszX77F .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbZLszX77F .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbZLszX77F .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbZLszX77F .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbZLszX77F .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbZLszX77F .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbZLszX77F .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbZLszX77F .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbZLszX77F .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbZLszX77F .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbZLszX77F .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbZLszX77F .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbZLszX77F .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbZNBVjsmW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbZNBVjsmW .mbr-section-subtitle,
.cid-sbZNBVjsmW .mbr-text {
  color: #767676;
}
.cid-sbZNBVjsmW .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbZNBVjsmW .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbZNBVjsmW .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbZNBVjsmW .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbZNBVjsmW .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbZNBVjsmW .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbZNBVjsmW .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbZNBVjsmW .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbZNBVjsmW .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbZNBVjsmW .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbZNBVjsmW .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbZNBVjsmW .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbZNBVjsmW .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbZNBVjsmW .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbZPeRhelp {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sbZPeRhelp .mbr-section-subtitle,
.cid-sbZPeRhelp .mbr-text {
  color: #767676;
}
.cid-sbZPeRhelp .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sbZPeRhelp .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sbZPeRhelp .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sbZPeRhelp .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sbZPeRhelp .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sbZPeRhelp .card-wrapper .card-img img {
  width: 100%;
}
.cid-sbZPeRhelp .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sbZPeRhelp .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sbZPeRhelp .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sbZPeRhelp .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sbZPeRhelp .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sbZPeRhelp .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sbZPeRhelp .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sbZPeRhelp .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbQTeIQ79r {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/0720-232018-best-buddies-leadership-conference-2018-screen-002-1920x1080.jpg");
}
.cid-sbQiaHCTZ6 {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQiaHCTZ6 .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQiaHCTZ6 .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQiaHCTZ6 .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQiaHCTZ6 H2 {
  text-align: center;
}
.cid-sbQiaHCTZ6 H3 {
  text-align: center;
}
.cid-sc1oC8OSAk {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sc1oC8OSAk .mbr-section-subtitle,
.cid-sc1oC8OSAk .mbr-text {
  color: #767676;
}
.cid-sc1oC8OSAk .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sc1oC8OSAk .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sc1oC8OSAk .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sc1oC8OSAk .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sc1oC8OSAk .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sc1oC8OSAk .card-wrapper .card-img img {
  width: 100%;
}
.cid-sc1oC8OSAk .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sc1oC8OSAk .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sc1oC8OSAk .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sc1oC8OSAk .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sc1oC8OSAk .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sc1oC8OSAk .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sc1oC8OSAk .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sc1oC8OSAk .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sc1pJElN5V {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sc1pJElN5V .mbr-section-subtitle,
.cid-sc1pJElN5V .mbr-text {
  color: #767676;
}
.cid-sc1pJElN5V .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sc1pJElN5V .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sc1pJElN5V .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sc1pJElN5V .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sc1pJElN5V .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sc1pJElN5V .card-wrapper .card-img img {
  width: 100%;
}
.cid-sc1pJElN5V .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sc1pJElN5V .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sc1pJElN5V .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sc1pJElN5V .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sc1pJElN5V .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sc1pJElN5V .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sc1pJElN5V .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sc1pJElN5V .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-sbQVd2YZCv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/cinema-bumper-1-2000x1218.png");
}
.cid-sbQtZ83ZbT {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQtZ83ZbT .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQtZ83ZbT .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQtZ83ZbT .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQtZ83ZbT H2 {
  text-align: center;
}
.cid-sbQtZ83ZbT H3 {
  text-align: center;
}
.cid-sc1rVMTtzR {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sc1rVMTtzR .mbr-section-subtitle,
.cid-sc1rVMTtzR .mbr-text {
  color: #767676;
}
.cid-sc1rVMTtzR .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-sc1rVMTtzR .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sc1rVMTtzR .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-sc1rVMTtzR .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-sc1rVMTtzR .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-sc1rVMTtzR .card-wrapper .card-img img {
  width: 100%;
}
.cid-sc1rVMTtzR .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-sc1rVMTtzR .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-sc1rVMTtzR .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-sc1rVMTtzR .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-sc1rVMTtzR .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-sc1rVMTtzR .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-sc1rVMTtzR .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-sc1rVMTtzR .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-smpf64CKGo {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-smpf64CKGo .mbr-section-subtitle,
.cid-smpf64CKGo .mbr-text {
  color: #767676;
}
.cid-smpf64CKGo .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-smpf64CKGo .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-smpf64CKGo .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-smpf64CKGo .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-smpf64CKGo .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-smpf64CKGo .card-wrapper .card-img img {
  width: 100%;
}
.cid-smpf64CKGo .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-smpf64CKGo .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-smpf64CKGo .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-smpf64CKGo .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-smpf64CKGo .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-smpf64CKGo .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-smpf64CKGo .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-smpf64CKGo .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rWK150BLC5 {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rWK150BLC5 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rWK150BLC5 p {
  color: #767676;
  text-align: left;
}
.cid-rWK150BLC5 .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-rWK150BLC5 .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-rWK150BLC5 .card-title {
  margin-bottom: 0;
}
.cid-rWK150BLC5 .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rWK150BLC5 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
@media (max-width: 300px) {
  .cid-rWK150BLC5 .card-img span {
    font-size: 40px !important;
  }
}
.cid-sbQI2OiNQY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/blender-screenshot-2000x1250.jpg");
}
.cid-sbQu28aaGS {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQu28aaGS .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQu28aaGS .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQu28aaGS .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQu28aaGS H2 {
  text-align: center;
}
.cid-sbQu28aaGS H3 {
  text-align: center;
}
.cid-rrrqGN6VMz {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rrrqGN6VMz .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rrrqGN6VMz .video-block {
    width: 100% !important;
  }
}
.cid-sbQNDRTM33 {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sbQNDRTM33 .item {
  padding-bottom: 2rem;
}
.cid-sbQNDRTM33 .item-wrapper {
  height: 100%;
}
.cid-sbQNDRTM33 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sbQNDRTM33 .carousel-control,
.cid-sbQNDRTM33 .close {
  background: #1b1b1b;
}
.cid-sbQNDRTM33 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sbQNDRTM33 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sbQNDRTM33 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-sbQNDRTM33 .close::before {
  content: '\e91a';
}
.cid-sbQNDRTM33 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sbQNDRTM33 .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-sbQNDRTM33 .carousel-inner > .active {
  display: block;
}
.cid-sbQNDRTM33 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sbQNDRTM33 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sbQNDRTM33 .carousel-control .icon-next,
.cid-sbQNDRTM33 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-sbQNDRTM33 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sbQNDRTM33 .carousel-control,
  .cid-sbQNDRTM33 .carousel-indicators,
  .cid-sbQNDRTM33 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sbQNDRTM33 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sbQNDRTM33 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sbQNDRTM33 .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-sbQNDRTM33 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sbQNDRTM33 .carousel-indicators {
    display: none;
  }
}
.cid-sbQNDRTM33 .carousel-indicators .active,
.cid-sbQNDRTM33 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-sbQNDRTM33 .carousel-indicators .active {
  background: #fff;
}
.cid-sbQNDRTM33 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sbQNDRTM33 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sbQNDRTM33 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sbQNDRTM33 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sbQNDRTM33 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sbQNDRTM33 .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-sbQNDRTM33 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sbQNDRTM33 .carousel {
  width: 100%;
}
.cid-sbQNDRTM33 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sbQNDRTM33 .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-sbQNDRTM33 .modal.fade .modal-dialog,
.cid-sbQNDRTM33 .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-sbQNDRTM33 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sbQNDRTM33 a {
  display: block;
}
.cid-sbQNDRTM33 a.img {
  pointer-events: none;
}
.cid-sbQJsFXzAq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/screen-shot-2020-09-28-at-1.18.16-am-2000x1219.png");
}
.cid-sbQu3bmYi2 {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQu3bmYi2 .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQu3bmYi2 .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQu3bmYi2 .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQu3bmYi2 H2 {
  text-align: center;
}
.cid-sbQu3bmYi2 H3 {
  text-align: center;
}
.cid-rrrq0FpegR {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rrrq0FpegR .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rrrq0FpegR .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rrrq0FpegR .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rrrq0FpegR .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rrrq0FpegR .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rrrq0FpegR .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-rrrq0FpegR .mbr-gallery-item > div:hover:before {
  opacity: 0 !important;
}
.cid-rrrq0FpegR .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-rrrq0FpegR .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-sc1xijftjr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/contact-background-2000x1218.png");
}
.cid-sbQKSndgNJ {
  padding-top: 0px;
  padding-bottom: 60px;
  background: linear-gradient(45deg, #fccc7b, #ff4d4d);
}
.cid-sbQKSndgNJ .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-sbQKSndgNJ .main .mbr-section-btn {
  text-align: right;
}
.cid-sbQKSndgNJ .btn {
  margin: 0 0 .5rem 0;
}
.cid-sbQKSndgNJ H2 {
  text-align: center;
}
.cid-sbQKSndgNJ H3 {
  text-align: center;
}
